In [31]:
import os.path
from os import path
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [4]:
input_file = 'temp_datalab_records_job_listings.csv'
data_header = pd.read_csv(input_file, nrows = 10)

In [6]:
df = pd.DataFrame(data_header)
df

,dataset_id,listing_id,domain,as_of_date,title,url,brand,category,locality,region,...,date_added,date_updated,posted_date,location_string,description,entity_id,city_lat,city_lng,cusip,isin
0,57644,https://careers-asburyauto.icims.com/jobs/1538...,careers-asburyauto.icims.com,2018-05-01,Automotive Technician Coggin Honda St. Augustine,https://careers-asburyauto.icims.com/jobs/1538...,Asbury Automotive Group,NaN,St. Augustine,FL,...,2018-05-01 02:15:18.856241+00,2018-05-01 02:15:18.856256+00,2018-04-12,"St. Augustine, FL, US",NaN,NaN,NaN,NaN,NaN,NaN
1,2334936,http://jobs.jcp.com/jobs/2540326-window-commis...,jobs.jcp.com,2018-05-01,Window Commission Associate - Pheasant Lane Mall,http://jobs.jcp.com/jobs/2540326-window-commis...,NaN,NaN,Nashua,New Hampshire,...,2018-05-01 16:18:00.864272+00,2018-05-01 16:18:00.864287+00,NaN,"NH-Nashua-Nashua, NH",NaN,NaN,NaN,NaN,NaN,NaN
2,57644,https://careers-asburyauto.icims.com/jobs/1486...,careers-asburyauto.icims.com,2018-05-01,Part Time Receptionist / Nights and Weekends /...,https://careers-asburyauto.icims.com/jobs/1486...,Asbury Automotive Group,NaN,Atlanta,GA,...,2018-05-01 02:15:18.85616+00,2018-05-01 02:15:18.856179+00,2018-03-05,"Atlanta, GA, US",NaN,NaN,NaN,NaN,NaN,NaN
3,2335348,https://sci.jobs/york-pa/maintenance-worker/13...,sci.jobs,2018-05-01,Maintenance Worker,https://sci.jobs/york-pa/maintenance-worker/13...,NaN,NaN,York,Pennsylvania,...,2018-05-01 23:19:01.421894+00,2018-05-01 23:19:01.421909+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,57644,https://careers-asburyauto.icims.com/jobs/1542...,careers-asburyauto.icims.com,2018-05-01,Service Technician & Used Technician McDavid P...,https://careers-asburyauto.icims.com/jobs/1542...,Asbury Automotive Group,NaN,Plano,TX,...,2018-05-01 02:15:18.85602+00,2018-05-01 02:15:18.856035+00,2018-04-16,"Plano, TX, US",NaN,NaN,NaN,NaN,NaN,NaN
5,2334936,http://jobs.jcp.com/jobs/2532832-cashier-eden-...,jobs.jcp.com,2018-05-01,Cashier - Eden Prairie Ctr,http://jobs.jcp.com/jobs/2532832-cashier-eden-...,NaN,NaN,Eden Prairie,Minnesota,...,2018-05-01 16:18:17.117638+00,2018-05-01 16:18:17.117672+00,NaN,"MN-Eden Prairie-Eden Prairie, MN",NaN,NaN,NaN,NaN,NaN,NaN
6,57644,https://careers-asburyauto.icims.com/jobs/1550...,careers-asburyauto.icims.com,2018-05-01,Part-time Receptionist / Plaza Land Rover,https://careers-asburyauto.icims.com/jobs/1550...,Asbury Automotive Group,NaN,Creve Coeur,MO,...,2018-05-01 02:15:18.855733+00,2018-05-01 02:15:18.855748+00,2018-04-23,"Creve Coeur, MO, US",NaN,NaN,NaN,NaN,NaN,NaN
7,2334936,http://jobs.jcp.com/jobs/2534988-operations-as...,jobs.jcp.com,2018-05-01,Operations Associate - Shops @ Moore,http://jobs.jcp.com/jobs/2534988-operations-as...,NaN,NaN,Moore,Oklahoma,...,2018-05-01 16:18:12.663861+00,2018-05-01 16:18:12.663876+00,NaN,"OK-Moore-Moore, OK",NaN,NaN,NaN,NaN,NaN,NaN
8,57644,https://careers-asburyauto.icims.com/jobs/1559...,careers-asburyauto.icims.com,2018-05-01,Automotive Service Technician McDavid Honda Ir...,https://careers-asburyauto.icims.com/jobs/1559...,Asbury Automotive Group,NaN,Irving,TX,...,2018-05-01 02:15:18.855132+00,2018-05-01 02:15:18.855147+00,2018-04-30,"Irving, TX, US",NaN,NaN,NaN,NaN,NaN,NaN
9,2334936,http://jobs.jcp.com/jobs/2534512-window-commis...,jobs.jcp.com,2018-05-01,Window Commission Associate - Northshore Mall,http://jobs.jcp.com/jobs/2534512-window-commis...,NaN,NaN,Peabody,Massachusetts,...,2018-05-01 16:18:12.674736+00,2018-05-01 16:18:12.674752+00,NaN,"MA-Peabody-Peabody, MA",NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
csv_database = create_engine('sqlite:///csv_database.db')

In [9]:
col_list = ["dataset_id", "title","category","description"]

chunksize = 25000

i = 0
j = 1

for df in pd.read_csv(input_file, chunksize=chunksize, usecols=col_list, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j
      i+=1
      df.to_sql('table', csv_database, if_exists='append')
      j = df.index[-1] + 1

In [54]:
conn = sqlite3.connect('csv_database.db')
sql = '''select * from table limit 10'''
df2 = pd.read_sql(sql,conn)
df2

DatabaseError: Execution failed on sql 'select * from table limit 10': near "table": syntax error